/* global.css */
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, Opera */
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* for IE and Edge */
  scrollbar-width: none;     /* for Firefox */
}
.loader {
  width: 48px;
  aspect-ratio: 0.75;

  --purple: #4e00d4; /* 🔮 change to your website purple */
  --bar: no-repeat linear-gradient(var(--purple) 0 0);

  background:
    var(--bar) 0%   50%,
    var(--bar) 50%  50%,
    var(--bar) 100% 50%;

  background-size: 20% 50%;
  animation: bar-loader 1s infinite linear alternate;
}

@keyframes bar-loader {
  0% {
    background-size: 20% 50%, 20% 50%, 20% 50%;
  }
  20% {
    background-size: 20% 20%, 20% 50%, 20% 50%;
  }
  40% {
    background-size: 20% 100%, 20% 20%, 20% 50%;
  }
  60% {
    background-size: 20% 50%, 20% 100%, 20% 20%;
  }
  80% {
    background-size: 20% 50%, 20% 50%, 20% 100%;
  }
  100% {
    background-size: 20% 50%, 20% 50%, 20% 50%;
  }
}
/* HTML: <div class="loader"></div> */
.spinner {

  aspect-ratio: 1;
  display:grid;
  -webkit-mask: conic-gradient(from 15deg,#0000,#000);
  animation: l26 1s infinite steps(12);
}
.spinner,
.spinner:before,
.spinner:after{
  background:
    radial-gradient(closest-side at 50% 12.5%,
     #ffffff 96%,#0000) 50% 0/20% 80% repeat-y,
    radial-gradient(closest-side at 12.5% 50%,
     #ffffff 96%,#0000) 0 50%/80% 20% repeat-x;
}
.spinner:before,
.spinner:after {
  content: "";
  grid-area: 1/1;
  transform: rotate(30deg);
}
.spinner:after {
  transform: rotate(60deg);
}

@keyframes l26 {
  100% {transform:rotate(1turn)}
}
