/* global.css */
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, Opera */
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* for IE and Edge */
  scrollbar-width: none;     /* for Firefox */
}