@import './theme.css';
@import "tailwindcss";
/* global.css */
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, Opera */
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* for IE and Edge */
  scrollbar-width: none;     /* for Firefox */
}
.fredoka-logo {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}